# Node
node_modules/
npm-debug.log
.env

# Backend build
backend/logs
serviceAccountKey.json

# Frontend build
frontend/dist/
Project-Idea.md
Readme-Guidelines.md
frontend/src/environments/

prompts/
# docs/dev/