# Node
node_modules/
npm-debug.log
.env

# Backend build
backend/logs
serviceAccountKey.json

# Frontend build
frontend/dist/
frontend/.angular/
frontend/.angular/cache/

# Project docs (remove these lines if you want to track them)
Project-Idea.md
Readme-Guidelines.md
frontend/src/environments/

prompts/
MailHog_windows_amd64.exe